﻿@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<head>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/css/Identity/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/Identity/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
</head>
<style>
    .btn-facebook,
    .btn-google,
    .btn-provider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
        margin-bottom: 10px;
    }

        .btn-facebook i,
        .btn-google i,
        .btn-provider i {
            margin-right: 10px;
            font-size: 20px;
        }

    .btn-facebook {
        background-color: #3b5998;
        color: white;
    }

        .btn-facebook:hover {
            background-color: #2d4373;
        }

    .btn-google {
        background-color: #db4a39;
        color: white;
    }

        .btn-google:hover {
            background-color: #c23321;
        }
</style>

<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/css/Identity/images/signin-image.jpg" alt="sing up image"></figure>
                <a asp-area="Identity" asp-page="/Account/Register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="POST" class="register-form" id="account">
                    <div class="form-group">
                        <label asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Input.Email" id="your_name" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Input.Password" id="your_pass" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="login-submit" class="form-submit" value="Log in" />
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            var buttonClass = provider.Name switch
                                            {
                                                "Facebook" => "btn-facebook",
                                                "Google" => "btn-google",
                                                _ => "btn-provider"
                                            };
                                            var iconClass = provider.Name switch
                                            {
                                                "Facebook" => "fab fa-facebook-f",
                                                "Google" => "fab fa-google",
                                                _ => "fas fa-user"
                                            };
                                            <button type="submit" class="btn @buttonClass" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <i class="@iconClass"></i>
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MDB -->
<script src="~/css/Identity/vendor/jquery/jquery.min.js"></script>
<script src="~/css/Identity/js/main.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@* <div class="container py-5">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <img src="https://preview.colorlib.com/theme/bootstrap/login-form-07/images/undraw_remotely_2j6y.svg" class="img-fluid rounded-start" alt="Login Image">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div>
                        <a id="forgot-password" asp-page="./ForgotPassword"><i class="fas fa-key"></i> Forgot your password?</a>
                    </div>
                    <div>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><i class="fas fa-user-plus"></i> Register as a new user</a>
                    </div>
                    <div>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation"><i class="fas fa-envelope"></i> Resend email confirmation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@