﻿@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<head>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/css/Identity/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/Identity/css/style.css">
</head>
@* <h1>@ViewData["Title"]</h1> *@

<div class="row justify-content-center">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="POST" class="register-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <label asp-for="Input.FullName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input asp-for="Input.FullName" id="name" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"><i class="zmdi zmdi-email"></i></label>
                            <input asp-for="Input.Email" id="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Input.Password" id="pass" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input asp-for="Input.ConfirmPassword" id="re_pass" placeholder="Repeat your password" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="registerSubmit" class="form-submit" value="Register" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/css/Identity/images/signup-image.jpg" alt="sing up image"></figure>
                    <a asp-area="Identity" asp-page="/Account/Login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
        @* <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Use another service to register</h3>
                </div>
                <div class="card-body">
                    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-outline-primary me-2 mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-@provider.Name.ToLower()"></i> @provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div> *@
    </section>

    @* <div class="col-md-8">
    <div class="card">
    <div class="card-header bg-primary text-white">
    <h2 class="mb-0">Create a new account</h2>
    </div>
    <div class="card-body">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="mb-3">
    <label asp-for="Input.FullName" class="form-label">Full Name</label>
    <input asp-for="Input.FullName" class="form-control" autocomplete="FullName" aria-required="true" placeholder="e.g. John Doe" />
    <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
    <label asp-for="Input.Email" class="form-label">Email</label>
    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
    <label asp-for="Input.Password" class="form-label">Password</label>
    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    @*  <div class="mb-3">
    <label asp-for="Input.Role" class="form-label">Role</label>
    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
    <option disabled selected>-Select Role-</option>
    </select>
    </div>
    <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
    </form>
    </div>
    </div>
    </div> *@
    @* <div class="col-md-4">
    <div class="card">
    <div class="card-header bg-primary text-white">
    <h3 class="mb-0">Use another service to register</h3>
    </div>
    <div class="card-body">
    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-outline-primary me-2 mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-@provider.Name.ToLower()"></i> @provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    </div>
    </div>
    </div> *@
</div>
<!-- JS -->
<script src="~/css/Identity/vendor/jquery/jquery.min.js"></script>
<script src="~/css/Identity/js/main.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
