﻿@model WebsiteBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Sửa Sản Phẩm";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập Nhật Sản Phẩm - Cửa hàng kiện máy tính</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/css/productmanager/edit.css" rel="stylesheet" />
</head>
<body>
    <div class="product-update-container">
        <h1 class="product-update-title">Cập Nhật Sản Phẩm</h1>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Mô tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Loại</label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrandId">Hãng</label>
                <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Hình ảnh</label>
                <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" />
                <img src="@Model.ImageUrl" alt="Product Image" id="previewImage" style="max-width: 200px; display: block; margin-top: 10px;" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty">Bảo hành</label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <button type="button" class="form-button" data-bs-toggle="modal" data-bs-target="#editProductModal">Cập nhật</button>

            <!-- Modal -->
            <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductModalLabel">Cập nhật Sản Phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc chắn muốn lưu thay đổi này?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fn+l43jQYpCrUWu3Y+R2hHnSQNyg5LBvd21YAyQU6J40TjPGD7QPjzdzJAvFYc+0" crossorigin="anonymous"></script>
    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            var output = document.getElementById('previewImage');
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                    output.style.display = 'block';
                };
                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
</body>
</html>
