﻿body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.product-creation-container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.product-creation-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

    .form-control:focus {
        border-color: #ff6f61;
        box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.25);
    }

.form-button {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .form-button:hover {
        background-color: #ff5449;
    }

.btn-group .btn {
    margin-right: 5px;
}

.table-custom thead th {
    background-color: #343a40;
    color: #fff;
}

.table-custom tbody tr:hover {
    background-color: #f8f9fa;
}
