﻿body {
    background-color: #f4f4f4;
}

.cart-item {
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.cart-item-image img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.cart-item-details {
    flex-grow: 1;
    padding-left: 20px;
}

.cart-item-total {
    text-align: right;
}

.cart-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.btn-outline-danger {
    border-color: #dc3545;
}

    .btn-outline-danger:hover {
        background-color: #dc3545;
        color: #fff;
    }

.btn-success, .btn-primary {
    width: 48%;
}

h2, h4 {
    color: #333;
}

.text-success {
    color: #28a745 !important;
}
