﻿.order-detail-page {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --card-bg: #ffffff;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

    .order-detail-page .container {
        max-width: 1200px;
        margin: 2rem auto;
        padding: 0 1rem;
    }

    .order-detail-page .order-header {
        background-color: var(--primary-color);
        color: white;
        padding: 2rem;
        border-radius: 10px 10px 0 0;
        box-shadow: var(--shadow);
    }

    .order-detail-page .order-details {
        background-color: var(--card-bg);
        border-radius: 0 0 10px 10px;
        padding: 2rem;
        box-shadow: var(--shadow);
    }

    .order-detail-page .order-summary {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .order-detail-page .summary-item {
        background-color: var(--background-color);
        padding: 1rem;
        border-radius: 8px;
        text-align: center;
    }

        .order-detail-page .summary-item i {
            font-size: 1.5rem;
            color: var(--primary-color);
            margin-bottom: 0.5rem;
        }

    .order-detail-page .order-note {
        background-color: var(--secondary-color);
        color: white;
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    .order-detail-page .product-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 0.5rem;
        margin-bottom: 2rem;
    }

        .order-detail-page .product-table th,
        .order-detail-page .product-table td {
            padding: 1rem;
            vertical-align: middle;
        }

        .order-detail-page .product-table th {
            background-color: var(--primary-color);
            color: white;
            text-align: left;
        }

        .order-detail-page .product-table td {
            background-color: var(--card-bg);
        }

    .order-detail-page .product-image-name {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .order-detail-page .product-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
    }

    .order-detail-page .product-name {
        font-weight: 500;
        word-wrap: break-word;
        max-width: 200px; /* Điều chỉnh giá trị này nếu cần */
    }

    .order-detail-page .product-table th:first-child,
    .order-detail-page .product-table td:first-child {
        width: 35%; /* Điều chỉnh giá trị này để thay đổi chiều rộng của cột sản phẩm */
    }

    .order-detail-page .product-table th:nth-child(2),
    .order-detail-page .product-table td:nth-child(2) {
        width: 15%;
    }

    .order-detail-page .product-table th:nth-child(3),
    .order-detail-page .product-table td:nth-child(3),
    .order-detail-page .product-table th:nth-child(4),
    .order-detail-page .product-table td:nth-child(4) {
        width: 25%;
    }
