﻿body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.order-history-container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.order-history-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.order-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-info {
    display: flex;
    align-items: center;
}

.order-id {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.order-date {
    color: #666;
}

.order-price {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
}

.order-details {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

    .order-details:hover {
        color: #0056b3;
    }
