﻿@model Order

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .btn-custom {
            width: 48%;
        }

        .form-group button {
            margin-top: 10px; 
        }

        .btn-group {
            display: flex;
            justify-content: space-between; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Checkout</h2>

        <div class="card">
            <div class="card-body">
                <form id="checkoutForm" asp-action="Checkout" method="post">
                    <div class="form-group">
                        <label asp-for="ShippingAddress">Địa chỉ giao hàng</label>
                        <input asp-for="ShippingAddress" class="form-control" placeholder="Nhập địa chỉ giao hàng" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Notes">Ghi chú</label>
                        <textarea asp-for="Notes" class="form-control" rows="3" placeholder="Ghi chú về đơn hàng (nếu có)"></textarea>
                    </div>

                    <div class="btn-group mt-4">
                        <button type="submit" class="btn btn-info btn-custom">Thanh toán bằng tiền mặt</button>
                        <button type="button" class="btn btn-success btn-custom" onclick="submitMomoPayment()">Thanh toán bằng Momo</button>
                        <a asp-action="Index" class="btn btn-outline-dark btn-custom">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function submitMomoPayment() {
            var form = document.getElementById('checkoutForm');
            form.action = '@Url.Action("ProceedToMomoPayment", "ShoppingCart")';
            form.submit();
        }
    </script>
</body>
</html>
