﻿@model ShoppingCart

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/css/shoppingcart/index.css" rel="stylesheet" />
</head>
<body>
    <form asp-controller="ShoppingCart" asp-action="UpdateCartItem" method="post">
        <div class="container my-5">
            <h2 class="text-center mb-4">Giỏ hàng</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="cart-items">
                        @foreach (var item in Model.Items)
                        {
                            <div class="cart-item d-flex align-items-center">
                                <div class="cart-item-image">
                                    @if (item.Image != null)
                                    {
                                        <img src="@item.Image" alt="@item.Name">
                                    }
                                </div>
                                <div class="cart-item-details">
                                    <h5>@item.Name</h5>
                                    <p>Giá: <span class="text-danger font-weight-bold">@String.Format("{0:N0} VNĐ", item.Price)</span></p>
                                    <div class="d-flex align-items-center">
                                        <input type="hidden" name="productIds[@item.ProductId]" value="@item.ProductId" />
                                        <div>
                                            <label for="quantity-@item.ProductId" class="sr-only">Số lượng</label>
                                            <input type="number" id="quantity-@item.ProductId" name="quantities[@item.ProductId]" value="@item.Quantity" min="1" class="form-control form-control-sm">
                                        </div>
                                        <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId" class="btn btn-outline-danger btn-sm ml-2">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cart-item-total ml-auto">
                                    <p class="text-success font-weight-bold">Thành tiền: @String.Format("{0:N0} VNĐ", item.Price * item.Quantity)</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart-summary">
                        <h4>Tổng giỏ hàng</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tổng tiền:</td>
                                    <td class="text-right text-success font-weight-bold">@String.Format("{0:N0} VNĐ", Model.Items.Sum(item => item.Price * item.Quantity))</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-shopping-cart mr-2"></i>Cập nhật giỏ
                            </button>
                            <a class="btn btn-primary" asp-area="" asp-controller="ShoppingCart" asp-action="Checkout">
                                <i class="fas fa-cash-register mr-2"></i>Thanh toán
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal for quantity exceeds stock -->
    <div class="modal fade" id="quantityExceedsStockModal" tabindex="-1" role="dialog" aria-labelledby="quantityExceedsStockModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="quantityExceedsStockModalLabel">Số lượng vượt quá tồn kho</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Số lượng sản phẩm bạn yêu cầu vượt quá tồn kho hiện tại.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var quantityExceedsStock = '@TempData["QuantityExceedsStock"]';

            if (quantityExceedsStock) {
                $('#quantityExceedsStockModal').modal('show');
            }
        });
    </script>
</body>
</html>
