﻿@model int

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Hàng Thành Công</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
            margin-top: 100px;
            padding: 40px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            animation: fade-in 0.5s ease-in-out;
        }

        .success-icon {
            color: #28a745;
            font-size: 48px;
            animation: pulse 1s infinite;
        }

        .smile-icon {
            color: #ffc107;
            font-size: 24px;
        }

        @@keyframes fade-in {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @@keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <i class="success-icon fas fa-check-circle"></i>
        <h1 class="mt-4">Đặt Hàng Thành Công</h1>
        <p class="lead">Đơn hàng của bạn đã được đặt thành công. <span class="smile-icon">&#128516;</span></p>
        <p>Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi. Chúng tôi sẽ liên hệ với bạn sớm nhất có thể để xác nhận đơn hàng.</p>
        <a href="/Home/Index" class="btn btn-primary mt-4">Tiếp tục mua sắm</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
    <script>
        // Hàm chuyển hướng về trang chủ
        function redirectToHomePage() {
            window.location.href = "/Home/Index"; // Đường dẫn trang chủ
        }

        // Lấy đường dẫn hiện tại
        var currentUrl = window.location.href;

        // Kiểm tra nếu không phải trang chủ
        if (currentUrl.indexOf("/Home/Index") === -1) {
            // Nếu không phải trang chủ, sau 5 giây sẽ chuyển về trang chủ
            setTimeout(redirectToHomePage, 5000); // 1000 milliseconds = 1 giây
        }
    </script>
</body>
</html>