﻿@model WebsiteBanHang.Models.Order

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Đơn Hàng</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/css/shoppingcart/orderdetails.css" rel="stylesheet" />
</head>


<body class="order-detail-page">
    <div class="container">
        <div class="order-header">
            <h1><i class="fas fa-shopping-bag"></i> Chi tiết đơn hàng</h1>
        </div>
        <div class="order-details">
            <div class="order-summary">
                <div class="summary-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>Địa chỉ giao hàng</h3>
                    <p>@Model.ShippingAddress</p>
                </div>
                <div class="summary-item">
                    <i class="fas fa-calendar-alt"></i>
                    <h3>Ngày đặt hàng</h3>
                    <p>@Model.OrderDate.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="summary-item">
                    <i class="fas fa-money-bill-wave"></i>
                    <h3>Tổng giá</h3>
                    <p>@String.Format("{0:N0}", @Model.OrderDetails.Sum(od => od.Price * od.Quantity)) đ</p>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Notes))
            {
                <div class="order-note">
                    <h3><i class="fas fa-sticky-note"></i> Ghi chú</h3>
                    <p>@Model.Notes</p>
                </div>
            }

            <table class="product-table">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>
                                <div class="product-image-name">
                                    <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="product-image" />
                                    <span class="product-name">@item.Product.Name</span>
                                </div>
                            </td>
                            <td>@item.Quantity</td>
                            <td>@String.Format("{0:N0}", @item.Price) đ</td>
                            <td>@String.Format("{0:N0}", @item.Quantity * @item.Price) đ</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="back-button">
                <a href="@Url.Action("OrderHistory", "ShoppingCart")" class="btn-order-detail">
                    <i class="fas fa-arrow-left"></i> Quay lại lịch sử đơn hàng
                </a>
            </div>
        </div>
    </div>
</body>
</html>