﻿@model IEnumerable<WebsiteBanHang.Models.Order>
@{
    ViewData["Title"] = "Order History";
    var culture = new System.Globalization.CultureInfo("vi-VN");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch Sử Mua Hàng - Cửa hàng kiện máy tính</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="~/css/shoppingcart/orderhistory.css" rel="stylesheet" />
</head>
<body>
    <div class="order-history-container">
        <h1 class="order-history-title">Lịch Sử Mua Hàng</h1>
        @foreach (var order in Model)
        {
            <div class="order-card">
                <div class="order-info">
                    <div class="order-id">Order #@order.Id</div>
                    <div class="order-date">@order.OrderDate.ToString("dd/MM/yyyy", culture)</div>
                </div>
                <div class="order-price">@order.TotalPrice.ToString("C", culture)</div>
                <a class="order-details" href="@Url.Action("OrderDetails", "ShoppingCart", new { id = order.Id })">
                    <i class="fas fa-eye"></i> Xem chi tiết
                </a>
            </div>
        }
    </div>
</body>
</html>

