﻿body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
    }

.card-header {
    border-bottom: none;
}

.bg-gradient-primary {
    background: linear-gradient(45deg, #007bff, #00bcd4);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,123,255,0.3);
    }

.form-control, .form-select {
    border: 2px solid #ced4da;
    transition: all 0.3s ease;
}

    .form-control:focus, .form-select:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.text-danger {
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.form-label {
    font-weight: 600;
}
