﻿<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về Chúng Tôi - CCG TechZone</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/css/home/about.css" rel="stylesheet" />
</head>
<body>
    <header class="about-header">
        <div class="container">
            <h1>Về Chúng Tôi</h1>
            <p>Cửa hàng linh kiện máy tính hàng đầu tại TP.HCM</p>
        </div>
    </header>

    <main>
        <div class="about-content-wrapper">
            <section class="about-content container">
                <div class="about-text">
                    <h2><i class="fas fa-laptop fa-2x"></i> CCG TechZone - Đối tác tin cậy của bạn</h2>
                    <p>Chào mừng bạn đến với CCG TechZone - nơi cung cấp linh kiện máy tính chất lượng cao và dịch vụ tuyệt vời nhất. Với nhiều năm kinh nghiệm trong lĩnh vực công nghệ, chúng tôi tự hào mang đến cho khách hàng những sản phẩm tốt nhất từ các thương hiệu hàng đầu.</p>
                    <p>Đội ngũ nhân viên chuyên nghiệp của chúng tôi luôn sẵn sàng tư vấn và hỗ trợ bạn lựa chọn những sản phẩm phù hợp nhất với nhu cầu và ngân sách của mình.</p>
                </div>
                <div class="about-image">
                    <img src="~/images/logo1.webp" alt="CCG TechZone">
                </div>
            </section>
        </div>

        <section class="features">
            <div class="container">
                <h2><i class="fas fa-star"></i> Tại sao chọn chúng tôi?</h2>
                <div class="feature-grid">
                    <div class="feature-item">
                        <i class="fas fa-truck"></i>
                        <h3>Miễn Phí Vận Chuyển</h3>
                        <p>Cho đơn hàng trên 1 triệu đồng</p>
                    </div>
                    <div class="feature-item">
                        <i class="fas fa-money-bill-wave"></i>
                        <h3>Thanh Toán Linh Hoạt</h3>
                        <p>Nhiều phương thức thanh toán</p>
                    </div>
                    <div class="feature-item">
                        <i class="fas fa-headset"></i>
                        <h3>Hỗ Trợ 24/7</h3>
                        <p>Luôn sẵn sàng giải đáp thắc mắc</p>
                    </div>
                    <div class="feature-item">
                        <i class="fas fa-shield-alt"></i>
                        <h3>Bảo Hành Chính Hãng</h3>
                        <p>Đảm bảo chất lượng sản phẩm</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-section container">
            <a href="@Url.Action("Index", "Home")" class="cta-btn">Xem Sản Phẩm Của Chúng Tôi</a>
        </section>
    </main>
</body>
</html>
