﻿@model Contact

@{
    ViewData["Title"] = "Liên Hệ";
}
<style>
    /* Styles for the contact section */
    .contact-page .contact-section {
        padding: 80px 0;
        background-color: #f8f8f8;
    }

    .contact-page .section-title {
        font-size: 32px;
        font-weight: 700;
        color: #333;
        text-align: center;
        margin-bottom: 40px;
    }

    .contact-page .contact-form {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .contact-page .form-group {
        margin-bottom: 20px;
    }

    .contact-page .form-control {
        height: 50px;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 10px 15px;
        font-size: 16px;
    }

        .contact-page .form-control:focus {
            border-color: #ff6f61;
            box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.25);
        }

    .contact-page textarea.form-control {
        height: auto;
    }

    .contact-page .btn-primary {
        background-color: #ff6f61;
        border-color: #ff6f61;
        color: #fff;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        padding: 12px 30px;
        border-radius: 5px;
    }

        .contact-page .btn-primary:hover {
            background-color: #ff5449;
            border-color: #ff5449;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

    .contact-page .map-container {
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
</style>

<section class="contact-page">
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <h2 class="section-title">Liên Hệ</h2>
                        <form asp-action="Contact" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name">Họ và Tên</label>
                                <input asp-for="Name" class="form-control" placeholder="Nhập họ và tên" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Nhập email" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone">Số điện thoại</label>
                                <input asp-for="Phone" class="form-control" placeholder="Nhập số điện thoại" required />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Note">Lời Nhắn</label>
                                <textarea asp-for="Note" class="form-control" placeholder="Nhập lời nhắn" rows="4" required></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Gửi</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.778230191668!2d106.71418710800424!3d10.801639614257303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a500e8c3d5%3A0xedfca63e47b5afb8!2zNDc1YSDEkC4gxJBp4buHbiBCacOqbiBQaOG7pywgUGjGsOG7nW5nIDI1LCBCw6xuaCBUaOG6oW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmggNzAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1715081693657!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Xác nhận gửi liên hệ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn gửi thông tin liên hệ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="submitContactForm">Gửi</button>
            </div>
        </div>
    </div>
</div>