﻿@model WebsiteBanHang.Models.Product

@{
    ViewData["Title"] = "Trang chủ - Chi tiết sản phẩm";
    int numOfQuantity = 1;
}
<head>
    <link href="~/css/home/detail.css" rel="stylesheet" />
</head>

<div class="product-container">
    <div class="product-details mt-3">
        <div class="product-gallery">
            <div class="main-image">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" alt="Product Image" />
                }
            </div>
            <div class="thumbnails">
            </div>
        </div>
        <div class="product-info">
            <div class="header">
                <h2>@Model.Name</h2>
                <div class="price" style="font-size:18px">
                    Giá: @String.Format("{0:N0}", Model.Price) VNĐ
                </div>
            </div>
            <div class="description">
                @Model.Description
            </div>
            <div class="specifications">
                <h3>Thông tin chung</h3>
                <ul>
                    <li>Loại: @Model.Category.Name</li>
                    <li>Nhà xản xuất: @Model.Brand.Name</li>
                    <li>Bảo hành: @Model.Warranty</li>
                </ul>
            </div>
            <div class="actions">
                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-quantity="@numOfQuantity">
                    <button class="btn btn-info"><i class="bi-cart-fill me-1"></i>Thêm vào giỏ</button>
                </a>
            </div>
        </div>
    </div>

    <div class="product-review">
        <h3>Leave a Review</h3>
        <form>
            <div class="form-group">
                <label for="rating">Rating</label>
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea id="review" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
    </div>
</div>

<script>
    const starRating = document.querySelector('.rating');
    starRating.addEventListener('change', function (e) {
        const ratingValue = e.target.value;
        console.log('Rating is set to:', ratingValue);
        // Xử lý đánh giá sao ở đây
    });
</script>