﻿@model IEnumerable<WebsiteBanHang.Models.Product>
@{
    ViewData["Title"] = "Trang chủ - Cửa hàng kiện máy tính";
    var bestSellers = (IEnumerable<Product>)ViewData["BestSellers"];
    int numOfQuantity = 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - Cửa hàng kiện máy tính</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom Styles -->
    <link href="~/css/Home/index.css" rel="stylesheet" />
</head>
<body>
    <div class="webpage-content">
        <!-- Nội dung của trang web ở đây -->
        <div class="main-banner-container">
            <img src="~/images/kingston-brand-banner.jpg">
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-3">
                    <!-- Hiển thị ViewComponent bộ lọc giá -->
                    @await Component.InvokeAsync("PriceFilter")
                    <div class="list-group category-list">
                        <a href="#" class="list-group-item list-group-item-action active category-header" data-toggle="collapse" data-target="#productCategories" aria-expanded="true" aria-controls="productCategories">
                            <i class="fas fa-bars"></i> Danh mục sản phẩm
                        </a>
                        <div class="collapse show" id="productCategories">
                            @foreach (var category in ViewBag.Categories)
                            {
                                <a href="@Url.Action("FilterByCategory", "Home", new { categoryId = category.Id })" class="list-group-item list-group-item-action category-item">@category.Name</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="banner-container">
                        <div class="banner-list">
                            <div class="banner-item">
                                <img src="~/images/banner/banner.webp" alt="Banner 1">
                            </div>
                            <div class="banner-item">
                                <img src="~/images/banner/banner2.webp" alt="Banner 2">
                            </div>
                            <div class="banner-item">
                                <img src="~/images/banner/mainbanner.webp" alt="Banner 3">
                            </div>
                            <div class="banner-item">
                                <img src="~/images/banner/banner1.webp" alt="Banner 4">
                            </div>
                            <div class="banner-item">
                                <img src="~/images/intel.jpg" alt="Banner 5">
                            </div>
                        </div>
                        <button class="prev-arrow">&#8249;</button>
                        <button class="next-arrow">&#8250;</button>
                        <div class="banner-dots"></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4 text-primary">Danh Sách Sản Phẩm</h2>
                <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#priceFilterModal">
                    <i class="fas fa-filter"></i> Lọc giá
                </button>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card card-product">
                                <div class="card-image">
                                    <img src="@item.ImageUrl" class="img-fluid" alt="@item.Name">
                                    <div class="card-overlay">
                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Xem chi tiết</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">Giá: @item.Price.ToString("#,##0") VNĐ</p>
                                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn btn-info">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        @if (TempData["ProductOutOfStock"] != null && (bool)TempData["ProductOutOfStock"])
        {
            <script>
                $(document).ready(function () {
                    $('#outOfStockModal').modal('show');
                });
            </script>
        }

        <!-- Modal -->
        <div class="modal fade" id="outOfStockModal" tabindex="-1" role="dialog" aria-labelledby="outOfStockModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="outOfStockModalLabel">Sản phẩm đã hết hàng</h5>
                        <button type="submit" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sản phẩm đã hết hàng trong kho, vui lòng quay lại sau.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        @if (TempData["ProductAddedToCart"] != null && (bool)TempData["ProductAddedToCart"])
        {
            <script>
                $(document).ready(function () {
                    $('#successModal').modal('show');
                });
            </script>
        }

        <!-- Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Thêm sản phẩm</h5>
                        <button type="submit" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sản phẩm đã thêm thành công!
                    </div>
                    <div class="modal-footer">
                        <a asp-controller="ShoppingCart" asp-action="Index"><button type="button" class="btn btn-info">Đến giỏ hàng</button></a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tiếp tục mua sắm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="extra-banner">
            <img src="~/images/banner/extrabanner.webp" alt="Extra Banner">
        </div>

        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4 text-primary">Sản Phẩm Nổi Bật</h2>
                <div class="row">
                    @if (bestSellers != null && bestSellers.Any())
                    {
                        @foreach (var product in bestSellers)
                        {
                            <div class="col-md-3 mb-4">
                                <div class="card card-product">
                                    <div class="card-image">
                                        <img src="@product.ImageUrl" class="img-fluid" alt="@product.Name">
                                        <div class="card-overlay">
                                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary">Xem chi tiết</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@product.Name</h5>
                                        <p class="card-text">Giá: @product.Price.ToString("#,##0") vnđ</p>
                                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity" class="btn btn-info">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Không có sản phẩm bán chạy.</p>
                    }
                </div>
            </div>
        </section>

        <script src="~/css/Home/index.js"></script>
        <!-- MDB -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>

    </div>
</body>
</html>
