﻿@model IEnumerable<WebsiteBanHang.Models.Product>
@{
    ViewData["Title"] = "Kết quả tìm kiếm";
    var bestSellers = (IEnumerable<Product>)ViewData["BestSellers"];
    int numOfQuantity = 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kết quả tìm kiếm - Cửa hàng kiện máy tính</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom Styles -->
    <link href="~/css/Home/index.css" rel="stylesheet" />
</head>
<body>
    <div class="webpage-content">
        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4 text-primary">Kết quả tìm kiếm</h2>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card card-product">
                                <div class="card-image">
                                    <img src="@item.ImageUrl" class="img-fluid" alt="@item.Name">
                                    <div class="card-overlay">
                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Xem chi tiết</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">Giá: @item.Price.ToString("#,##0") vnđ</p>
                                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn btn-info">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <script src="~/css/Home/index.js"></script>
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
    </div>
</body>
</html>