﻿@{
    ViewData["Title"] = "Thanh toán Momo";
    var postUrl = "thanh-toan-momo";
    var formattedTotalAmount = String.Format("{0:N0}", ViewBag.TotalAmount);
}

<div class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center mb-4">
                    <h1 class="display-4">Thanh toán Momo</h1>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Momo" asp-action="CreatePaymentUrl" id="frmCreateOrder" method="post">
                            <div class="form-group">
                                <label for="FullName">Tên khách hàng</label>
                                <input class="form-control" id="FullName" name="FullName" type="text" value="@ViewBag.FullName" required>
                            </div>
                            <div class="form-group">
                                <label for="Amount">Số tiền</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                    <input class="form-control" id="Amount" name="Amount" type="text" value="@formattedTotalAmount" readonly required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="OrderInfo">Nội dung thanh toán</label>
                                <textarea class="form-control" cols="20" id="OrderInfo" name="OrderInfo" rows="3" required>Thanh toán tại CCG TechZone</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Thanh toán (Checkout)</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
