﻿@model WebsiteBanHang.Models.MOMO.MomoExecuteResponseModel

@{
    ViewData["Title"] = "Thanh Toán Thành Công";
    var postUrl = "tich-hop-thanh-toan-momo-voi-asp-net-core-7d5e4hP";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-success text-white">
                    <h3 class="mb-0">Thanh Toán Thành Công</h3>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <i class="fas fa-check-circle fa-5x text-success"></i>
                    </div>
                    <h5 class="card-title">Chúc mừng bạn đã thanh toán thành công!</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Order ID:</strong></p>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.OrderId</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Số tiền:</strong></p>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.Amount</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Order Info:</strong></p>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.OrderInfo</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <form method="post" asp-controller="Home" asp-action="Index">
                        <button type="submit" class="btn btn-info">Tiếp tục mua hàng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>