﻿<!DOCTYPE html>
<html lang='vi'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Chi Tiết Đơn Hàng</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .email-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .header {
            background-color: #3498db;
            color: #ffffff;
            padding: 20px;
            border-radius: 8px 8px 0 0;
            text-align: center;
        }

            .header h1 {
                margin: 0;
            }

        .content {
            padding: 20px;
        }

        .order-summary {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
        }

        .summary-item {
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 4px;
        }

            .summary-item h3 {
                margin: 0 0 5px;
                color: #333;
            }

            .summary-item p {
                margin: 0;
                color: #666;
            }

        .product-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .product-table th, .product-table td {
                padding: 15px;
                text-align: left;
                border-bottom: 1px solid #dddddd;
            }

            .product-table th {
                background-color: #3498db;
                color: #ffffff;
            }

            .product-table td {
                background-color: #ffffff;
            }

        .product-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 4px;
            margin-right: 15px;
        }

        .product-details {
            display: flex;
            align-items: center;
        }

        .product-name {
            margin: 0;
            color: #333;
        }

        .footer {
            text-align: center;
            color: #999;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <div class="header">
            <h1>Chi Tiết Đơn Hàng</h1>
        </div>
        <div class="content">
            <div class="order-summary">
                <div class="summary-item">
                    <h3>Địa chỉ giao hàng</h3>
                    <p>{{ShippingAddress}}</p>
                </div>
                <div class="summary-item">
                    <h3>Ngày đặt hàng</h3>
                    <p>{{OrderDate}}</p>
                </div>
                <div class="summary-item">
                    <h3>Tổng giá</h3>
                    <p>{{TotalPrice}} đ</p>
                </div>
            </div>
            {{OrderNote}}
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    {{OrderDetails}}
                </tbody>
            </table>
        </div>
        <div class="footer">
            <p>Cảm ơn bạn đã mua sắm với chúng tôi!</p>
        </div>
    </div>
</body>
</html>
