﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsiteBanHang</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f81382f883.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/layout.css" rel="stylesheet" />
</head>

<body style="background-color:#ADD5F7;">
    <header>
        <!-- Navbar -->
        <div class="container-nav">
            <div class="sticky-nav">
                <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
                    <!-- Container wrapper -->
                    <div class="container-fluid">
                        <!-- Toggle button -->
                        <button data-mdb-collapse-init
                                class="navbar-toggler"
                                type="button"
                                data-mdb-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>

                        <!-- Collapsible wrapper -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!-- Navbar brand -->
                            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                                <img src="~/images/logo1.webp"
                                     height="15"
                                     alt="MDB Logo"
                                     loading="lazy" />
                            </a>
                            <!-- Left links -->
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Về chúng tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Liên Hệ</a>
                                </li>
                                @* <li class="nav-item">
                                <a class="nav-link" href="#">Projects</a>
                                </li> *@
                            </ul>
                            <!-- Left links -->
                        </div>
                        <!-- Collapsible wrapper -->
                        <!-- Right elements -->
                        <div class="d-flex align-items-center">
                            <!-- Icon -->
                            <form id="searchForm" action="/Product/Search" method="get" class="d-flex me-3">
                                <input type="text" id="searchInput" name="searchString" placeholder="Search..." class="form-control">
                                <div id="searchSuggestions"></div>
                            </form>
                            <!-- Notifications -->
                            @* <div class="dropdown">
                            <a data-mdb-dropdown-init
                            class="text-reset me-3 dropdown-toggle hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                            <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                            </ul>
                            </div> *@
                            <!-- Avatar -->
                            <form class="d-flex" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                                <button class="btn btn-outline-none" type="submit"><i class="fa-solid fa-cart-shopping"></i> </button>
                            </form>
                            <partial name="_LoginPartial" />
                        </div>
                        <!-- Right elements -->
                    </div>
                    <!-- Container wrapper -->
                </nav>
                <!-- Navbar -->
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
            style="background-color: #45526e">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Company name
                        </h6>
                        <p>
                            Công Ty TNHH chuyên cung cấp linh kiện máy tính CCG TechZone
                        </p>
                    </div>
                    <!-- Grid column -->

                    @* <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a class="text-white">MDBootstrap</a>
                        </p>
                        <p>
                            <a class="text-white">MDWordPress</a>
                        </p>
                        <p>
                            <a class="text-white">BrandFlow</a>
                        </p>
                        <p>
                            <a class="text-white">Bootstrap Angular</a>
                        </p>
                    </div> *@
                    <!-- Grid column -->

                    @* <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Useful links
                        </h6>
                        <p>
                            <a class="text-white">Your Account</a>
                        </p>
                        <p>
                            <a class="text-white">Become an Affiliate</a>
                        </p>
                        <p>
                            <a class="text-white">Shipping Rates</a>
                        </p>
                        <p>
                            <a class="text-white">Help</a>
                        </p>
                    </div> *@

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Liên hệ</h6>
                        <p><i class="fas fa-home mr-3"></i> P.An Khánh, Tp.Thủ Đức</p>
                        <p><i class="fas fa-envelope mr-3"></i> baohuynguyendo@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +84 (VN): 0918 904 469</p>
                        <p><i class="fas fa-print mr-3"></i> +84 (VN): 0918 904 469</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            @* © 2020 Copyright:
                            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> *@
                            KẾT NỐI VỚI CHÚNG TÔI
                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/profile.php?id=61559880004216&is_tour_dismissed"
                           class="text-white"
                           role="button">
                            <i class="fab fa-facebook-f text-white"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-twitter text-white"></i>
                        </a>

                        <!-- Google -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-google text-white"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-instagram text-white"></i>
                        </a>
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').keypress(function (event) {
                if (event.keyCode === 13) { // Kiểm tra nếu nhấn phím Enter (mã 13)
                    event.preventDefault(); // Ngăn chặn hành động mặc định của phím Enter (submit form)
                    var searchString = $(this).val(); // Lấy giá trị từ ô tìm kiếm
                    window.location.href = '/Home/Search?searchString=' + searchString;
                }
            });
        });
    </script>
        
    <script>
        window.addEventListener('scroll', function () {
            var nav = document.querySelector('nav');
            var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
            var navHeight = nav.offsetHeight; // Lấy chiều cao của thanh navigation

            if (scrollPosition > navHeight) {
                nav.classList.add('sticky-nav');
            } else {
                nav.classList.remove('sticky-nav');
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/ion-rangeslider/ion.rangeSlider.min.js"></script>
</body>
</html>
