﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
{
        <div class="dropdown">
            @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
            {
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@UserManager.GetUserName(User)">
                    Chào QTV <i class="fa-solid fa-user"></i>
                </a>
            }
            else
            {
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@UserManager.GetUserName(User)">
                    Chào KH <i class="fa-solid fa-user"></i>
                </a>
            }
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-address-card"></i> Thông Tin</a>
                </li>
                @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
                {
                    <li class="nav-item">
                        <a id="manage" class="dropdown-item" asp-area="Admin" asp-controller="ProductManager" asp-action="Index" title="Manage"><i class="fa-solid fa-user-tie"></i> Trang QTV</a>
                    </li>
                }
                <li class="nav-item">
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Đăng Xuất</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" asp-controller="ShoppingCart" asp-action="OrderHistory"><i class="fa-solid fa-clock-rotate-left"></i> Lịch sử mua</a>
                </li>
            </ul>
        </div>
}
else
{
   @*  <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a>
    </li> *@
    <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i></a>
    </li>
}
</ul>

