﻿/* Định nghĩa kiểu cho thanh navigation khi ở trạng thái sticky */
.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Màu nền của thanh navigation */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng cho thanh navigation */
    z-index: 999; /* Đảm bảo thanh navigation luôn ở trên cùng */
    transition: all 0.3s ease; /* Hiệu ứng chuyển động mượt khi thanh navigation chuyển trạng thái */
    border-radius: 5px
}

.container-nav {
    padding: 40px
}

#searchSuggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-suggestion {
    padding: 8px;
    cursor: pointer;
}

    .search-suggestion:hover {
        background-color: #f5f5f5;
    }

.suggestion-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 8px;
}

.suggestion-price {
    font-size: 14px;
    color: #666;
    margin-left: 8px;
}
