﻿@model WebsiteBanHang.Models.ApplicationUser
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-danger text-white">
            <h2>Xóa người dùng - @Model.UserName</h2>
        </div>
        <div class="card-body">
            <p>Bạn có chắc chắn muốn xóa người dùng này?</p>
            <dl class="row">
                <dt class="col-sm-3">Tên tài khoản:</dt>
                <dd class="col-sm-9">@Model.UserName</dd>
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.Email</dd>
                <dt class="col-sm-3">Họ tên đầy đủ:</dt>
                <dd class="col-sm-9">@Model.FullName</dd>
            </dl>
            <form asp-action="ConfirmDeleteUser" asp-route-id="@Model.Id">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>