﻿@model WebsiteBanHang.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<head>
    <link href="~/admin/css/usermanager/edituser.css" rel="stylesheet" />
</head>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-gradient-primary text-white">
                    <h2 class="mb-0"><i class="fas fa-user-edit me-2"></i>Edit User</h2>
                </div>
                <div class="card-body">
                    <form asp-action="EditUser" method="post">
                        <div class="mb-4">
                            <label asp-for="Email" class="form-label"><i class="fas fa-envelope me-2"></i>Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="UserName" class="form-label"><i class="fas fa-user me-2"></i>Username</label>
                            <input asp-for="UserName" class="form-control" placeholder="Enter username" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="FullName" class="form-label"><i class="fas fa-id-card me-2"></i>Full Name</label>
                            <input asp-for="FullName" class="form-control" placeholder="Enter full name" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Role" class="form-label"><i class="fas fa-user-tag me-2"></i>Role</label>
                            <select asp-for="Role" asp-items="@(new SelectList(ViewBag.Roles, "Name", "Name"))" class="form-select">
                                <option value="">Select a role</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-3">
                            <button type="submit" class="btn btn-primary btn-lg" id="saveButton">
                                <i class="fas fa-save me-2"></i>Save Changes
                            </button>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-lg">
                                <i class="fas fa-arrow-left me-2"></i>Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var $button = $('#saveButton');
                $button.prop('disabled', true)
                    .html('<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Saving...');

                setTimeout(function () {
                    $('form').off('submit').submit();
                }, 1000);
            });
        });
    </script>
}
