﻿@model List<WebsiteBanHang.Models.ApplicationUser>

<div class="container mt-5">
    <h2 class="text-center mb-4">Danh sách người dùng</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="card shadow-lg">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Tên tài khoản</th>
                            <th scope="col">Email</th>
                            <th scope="col">Họ tên đầy đủ</th>
                            <th scope="col" class="text-center">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.FullName</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-sm btn-outline-primary mx-1" data-toggle="tooltip" title="Chỉnh sửa người dùng">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                        <a asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-sm btn-outline-danger mx-1" data-toggle="tooltip" title="Xóa người dùng">
                                            <i class="fas fa-user-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

