﻿@model IEnumerable<WebsiteBanHang.Areas.Admin.Controllers.StatiticManagerController.OrderWithEmail>

@{
    ViewData["Title"] = "Thống Kê";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .card-body p {
            font-size: 2rem;
            font-weight: bold;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .btn-danger {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

            .btn-danger:hover {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Thống Kê</h1>

        <form method="get" class="form-inline mb-4">
            <div class="form-group mr-2">
                <label for="startDate" class="mr-2">Từ ngày:</label>
                <input type="date" id="startDate" name="startDate" class="form-control" value="@ViewBag.StartDate">
            </div>
            <div class="form-group mr-2">
                <label for="endDate" class="mr-2">Đến ngày:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" value="@ViewBag.EndDate">
            </div>
            <button type="submit" class="btn btn-primary">Lọc</button>
        </form>

        <div class="row mb-4">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Tổng số đơn đã đặt</h5>
                        <p class="card-text">@ViewData["TotalOrders"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Tổng doanh thu</h5>
                        <p class="card-text">VNĐ @ViewData["TotalRevenue"]</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Order ID</th>
                        <th>Email</th>
                        <th>Tên khách hàng</th>
                        <th>Order Date</th>
                        <th>Total Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Order.Id</td>
                            <td>@item.Email</td>
                            <td>@item.FullName</td>
                            <td>@item.Order.OrderDate.ToString("dd/MM/yyyy")</td>
                            <td>@String.Format("{0:N0}", item.Order.OrderDetails.Sum(od => od.Price * od.Quantity)) VNĐ</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-action="OrderDetails" asp-route-id="@item.Order.Id" class="btn btn-info btn-sm" title="Chi tiết">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <form asp-action="DeleteOrder" asp-route-orderId="@item.Order.Id" method="post" style="display:inline">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa đơn hàng này?')" title="Xóa">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
