﻿@model WebsiteBanHang.Models.Order

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Đơn Hàng - Admin</title>
    <!-- Bootstrap CSS for responsive and modern design -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles for a distinct and professional admin look -->
    <link href="~/admin/css/statiticmanager/orderdetails.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-order-container">
        <div class="admin-order-header">
            <h2>Chi tiết đơn hàng</h2>
        </div>
        <div class="admin-order-details">
            <p>Địa chỉ giao hàng: <strong>@Model.ShippingAddress</strong></p>
            <p>Ngày đặt hàng: <strong>@Model.OrderDate.ToString("dd/MM/yyyy")</strong></p>
            <p>Tổng giá: <strong>@String.Format("{0:N0}", @Model.OrderDetails.Sum(od => od.Price * od.Quantity)) đ</strong></p>
        </div>
        <div class="admin-note">
            <p>Ghi chú: @Model.Notes</p>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td><img src="@item.Product.ImageUrl" alt="@item.Product.Name" style="width: 100px; height: auto;" /></td>
                        <td class="product-name">@item.Product.Name</td>
                        <td>@item.Quantity</td>
                        <td>@String.Format("{0:N0}", @item.Price) đ</td>
                        <td>@String.Format("{0:N0}", @item.Quantity * @item.Price) đ</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Index", "StatiticManager", new { area = "Admin" })" class="btn btn-admin">Quay lại thống kê</a>
    </div>
</body>
</html>
