﻿body {
    background-color: #f3f6f9;
    font-family: 'Segoe UI', sans-serif;
}

.admin-order-container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.admin-order-header {
    background-color: #4e73df;
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    margin: -25px -25px 20px -25px;
}

.admin-order-details {
    font-size: 0.95em;
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.admin-note {
    background-color: #ffd966;
    padding: 15px;
    border-left: 4px solid #ffa500;
    margin-top: 20px;
    border-radius: 8px;
}

.table {
    margin-top: 20px;
}

    .table th {
        background-color: #4e73df;
        color: #fff;
        white-space: nowrap;
        padding: 8px;
    }

    .table td {
        padding: 8px;
        white-space: nowrap;
    }

        .table td.product-name {
            white-space: normal;
            word-wrap: break-word;
            max-width: 200px;
        }

.btn-admin {
    background-color: #1cc88a;
    border-color: #1cc88a;
}

    .btn-admin:hover {
        background-color: #17a673;
        border-color: #179961;
    }
