﻿:root {
    --primary-color: #0077b6;
    --secondary-color: #00b4d8;
    --text-color: #333;
    --bg-color: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 60px 0;
    position: relative;
}

    .about-header::after {
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background-color: var(--secondary-color);
        margin: 20px auto 0;
    }

    .about-header h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .about-header p {
        font-size: 1.2rem;
        max-width: 600px;
        margin: 0 auto;
    }

.about-content-wrapper {
    background-color: white;
    padding: 60px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0;
}

.about-text, .about-image {
    flex-basis: 48%;
}

    .about-text h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
    }

        .about-text h2 i {
            margin-right: 15px;
            font-size: 2.5rem;
            color: var(--secondary-color);
        }

    .about-text p {
        font-size: 1.1rem;
        line-height: 1.8;
        margin-bottom: 30px;
    }

    .about-image img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

.features {
    background-color: white;
    padding: 60px 0;
}

    .features h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 40px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .features h2 i {
            margin-right: 10px;
            font-size: 1.5rem;
            color: var(--secondary-color);
        }

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.feature-item {
    text-align: center;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .feature-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .feature-item i {
        font-size: 3.5rem;
        color: var(--secondary-color);
        margin-bottom: 20px;
    }

    .feature-item h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .feature-item p {
        font-size: 1.1rem;
        line-height: 1.6;
    }

.cta-section {
    text-align: center;
    margin: 60px 0;
}

.cta-btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

    .cta-btn:hover {
        background-color: var(--secondary-color);
    }

media (max-width: 768px) {
    .about-content

{
    flex-direction: column;
}

.about-text, .about-image {
    flex-basis: 100%;
}

.about-image {
    margin-top: 30px;
}
}
