﻿.product-info {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .product-info h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .product-info .price {
        font-size: 20px;
        color: #e74c3c;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .product-info .description {
        font-size: 16px;
        line-height: 1.5;
        color: #555;
        margin-bottom: 20px;
    }

    .product-info .specifications {
        margin-bottom: 20px;
    }

        .product-info .specifications h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .product-info .specifications ul {
            list-style-type: none;
            padding: 0;
        }

        .product-info .specifications li {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 5px;
        }

    .product-info .actions button {
        font-size: 16px;
        padding: 10px 20px;
    }

.product-review {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

    .product-review h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .product-review .form-group {
        margin-bottom: 20px;
    }

    .product-review label {
        font-size: 16px;
        font-weight: 500;
    }

    .product-review .rating {
        font-size: 24px;
    }

    .product-review textarea {
        resize: none;
    }

    .product-review button[type="submit"] {
        font-size: 16px;
        padding: 10px 20px;
    }

.product-gallery {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .main-image img {
        max-width: 100%;
        max-height: 400px;
        object-fit: contain;
    }

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
}

.product-gallery {
    width: 40%;
    margin-bottom: 30px;
}

.product-info {
    width: 55%;
    margin-left: 5%;
}

@media (max-width: 768px) {
    .product-gallery,
    .product-info {
        width: 100%;
        margin-left: 0;
    }
}

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 30px;
}

    .rating input[type="radio"] {
        display: none;
    }

    .rating label {
        color: #ccc;
        cursor: pointer;
    }

        .rating label:before {
            content: "\f005";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }

    .rating input[type="radio"]:checked ~ label {
        color: #ff9800;
    }

    .rating input[type="radio"]:hover ~ label {
        color: #ff9800;
    }