﻿.webpage-content {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    overflow: hidden; /* Prevent overflow */
}

.banner-container {
    width: 100%; /* Full width of the content area */
    max-width: 80vw; /* Limit to 80% of viewport width */
    height: 40vw;
    max-height: 400px;
    margin: 0 auto 20px auto; /* Center horizontally and add bottom margin */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.banner-list {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.banner-item {
    flex: 0 0 100%;
    height: 100%;
}

    .banner-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1; /* Đặt giá trị z-index cao hơn banner */
}

    .prev-arrow:hover,
    .next-arrow:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.banner-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .dot.active {
        background-color: #007bff;
    }

    .dot:hover {
        background-color: #999;
    }

.card-product {
    height: 450px; /* Điều chỉnh chiều cao tùy ý */
    position: relative;
    overflow: hidden;
}

.card-image {
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.card-product:hover .card-overlay {
    opacity: 1;
}

.card-image img {
    transition: transform 0.3s ease;
}

.card-product:hover .card-image img {
    transform: scale(1.1);
}

.category-list {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.category-header {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
}

    .category-header:hover {
        background-color: #555;
    }

.category-item {
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .category-item:hover {
        background-color: #e9e9e9;
        transform: translateX(5px);
    }

.main-banner-container img {
    border-radius: 5px;
    width: 100%;
}

.extra-banner {
    width: 100%; /* Full width of the content area */
    max-width: 80vw; /* Limit to 80% of viewport width */
    height: 25vh;
    margin: 20px auto 0 auto; /* Center horizontally and add top margin */
    padding-left: 10px; /* Adjust padding as needed */
    padding-right: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

    .extra-banner img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
