﻿.webpage-content {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    overflow: hidden; /* Prevent overflow */
}

.card-product {
    height: 450px; /* Điều chỉnh chiều cao tùy ý */
    position: relative;
    overflow: hidden;
}

.card-image {
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.card-product:hover .card-overlay {
    opacity: 1;
}

.card-image img {
    transition: transform 0.3s ease;
}

.card-product:hover .card-image img {
    transform: scale(1.1);
}
