﻿@model WebsiteBanHang.ViewModels.PriceFilterViewModel

<div id="priceFilterModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lọc theo giá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="FilterByPrice" asp-controller="Home" method="get">
                    <div class="form-group">
                        <label for="minPrice">Giá thấp nhất</label>
                        <input type="text" class="form-control" id="minPrice" name="minPrice" value="@Model.MinPrice" oninput="formatPrice(this)" onblur="formatPrice(this)" />
                    </div>
                    <div class="form-group">
                        <label for="maxPrice">Giá cao nhất</label>
                        <input type="text" class="form-control" id="maxPrice" name="maxPrice" value="@(Model.MaxPrice == 0 ? 100000000 : Model.MaxPrice)" oninput="formatPrice(this)" onblur="formatPrice(this)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Lọc</button>
                    <button asp-action="Index" asp-controller="Home" class="btn btn-primary">
                        <i class="fas fa-sync-alt"></i> Làm mới
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function formatPrice(input) {
        // Xóa dấu phân cách hàng nghìn và các ký tự không phải số
        let value = input.value.replace(/,/g, '').replace(/\D/g, '');

        // Định dạng lại giá trị với dấu phân cách hàng nghìn
        input.value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
